body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    background-image: url('images/background.webp');
}

@keyframes blink {
    0% { color  : red; }
    30% { color : blue }
    60% { color: green; }
    100% { color  : red; }
}

marquee {
    animation-name: blink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border: 5px solid #ccc;
    border-style: outset;
}

h1 {
    color: #c97d53;
}

h2 {
    color: #FC9D68;
}

h3 {
  color: #fcb086;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.gallery-item {
    flex: 1 1 calc(33% - 10px);
    background-color: #e1e1e1;
    padding: 10px 20px 10px 10px;
    text-align: center;
    border: 5px solid #ccc;
    border-style: inset;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border: 5px solid #ccc;
    border-style: outset;
}

.gallery-item p {
    margin: 10px 0 0;
    font-weight: bold;
}

