.webring-container {
    font-family: "Times New Roman", Times, serif;
    border: 4px outset #ccc;
    padding: 5px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    background-color: white;
    font-size: 1em;
}

.inner-webring-container {
    border: 1px solid #ccc;
    padding: 10px 10px 5px 10px;
}
.webring-container h2 span {
  font-weight: bold;
}
.webring-container h2{
  color: black; 
  font-weight: normal;
}
.webring-container p{
  color: black; 
}
.copyright
{
font-size: 0.75em;
}
.webring-links a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 10px;
}
.webring-links a:hover {
    text-decoration: underline;
}
